---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import data from '../datos/peliculas.json'
import Carrusel from '../components/Carrusel.astro'
const procesarPeliculas = data.map(pelicula => {
  const { title, release_date, poster_path, overview, vote_average } = pelicula;
  return { title, release_date, poster_path, overview, vote_average };
});

---

<Layout title="Bienvenido a Moviedb">
  <Carrusel />
    <main class="mx-auto px-3 flex gap-3 justify-center">
      <div class="grid grid-cols-4 aspect-auto gap-12 m-2">
        {procesarPeliculas.map((pelicula) => (
          <Card
            title={pelicula.title}
            release={pelicula.release_date}
            image={pelicula.poster_path}
            vote={pelicula.vote_average}
          />
        ))}
      </div>
    </main>
  </Layout>
  
  

